// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.glossary {
  display: flex;
  flex-wrap: wrap;

  > .badge {
    margin-left: ($spacer / 3);
    margin-bottom: ($spacer / 4);
    color: $black;
  }
}



.badge {
  display: inline-block;
  padding-top: ($spacer / 3);
  padding-bottom: ($spacer / 3);
  padding-left: ($spacer * 2/3);
  padding-right: ($spacer * 2/3);

  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius(0);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.badge {
  @include hover-focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
// scss-lint:enable QualifyingElement

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

.badge-default {
  @include badge-variant($badge-default-bg);
}

.badge-primary {
  @include badge-variant($badge-primary-bg);
}

.badge-success {
  @include badge-variant($badge-success-bg);
}

.badge-info {
  @include badge-variant($badge-info-bg);
}

.badge-warning {
  @include badge-variant($badge-warning-bg);
}

.badge-danger {
  @include badge-variant($badge-danger-bg);
}

.badge-red {
  @include badge-variant($tfc-red);
}

.badge-dark-red {
  @include badge-variant($tfc-dark-red);
}

.badge-yellow {
  @include badge-variant($tfc-yellow);
}

.badge-green-var {
  @include badge-variant($tfc-green-var);
}

.badge-orange {
  @include badge-variant($tfc-orange);
}

.badge-dark-green {
  @include badge-variant($tfc-dark-green);
  color: $black;
}

.badge-dark-orange {
  @include badge-variant($tfc-dark-orange);
  color: $black;
}

.badge-dark-blue {
  @include badge-variant($tfc-dark-blue);
  color: $black;
}

.badge-dark-yellow {
  @include badge-variant($tfc-dark-yellow);
  color: $black;
}
