$faded: #f7f7f7 !default;
$gray:                      #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$input-color-placeholder: $gray-light !default;
$input-color-focus:              $gray !default;
$input-bg-focus:                 $input-bg !default;
$input-border-focus:             lighten($primary, 25%) !default;

$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $red !default;
$switch-checked-bg: $green !default;
$switch-disabled-bg: $red !default;
$switch-disabled-color: $red !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 2px rgba($primary, .25);
$switch-transition: 0.2s all !default;