
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:900i);

// Gotham font
// $gotham-font-path: "public/fonts/gotham" !default;
// @import "gotham";

// Variables
@import "variables";

// Reset and dependencies
@import "normalize";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "mixins";

// Core CSS
@import "grid";
@import "buttons";
@import "type";


// Components
@import "nav";
@import "navbar";
@import "breadcrumb";
@import "badge";
@import "alert";

// Components w/ JavaScript
@import "modal";

// Utility classes
@import "utilities";

// Custom imports
@import "forms";
@import "filters";


[v-cloak] {
  display: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  position: relative;
}

html {
  height: 100%;
  box-sizing: border-box;
}

@import "resources/assets/admin/sass/_style.scss";
@import "layout";
// @import "fileinput";
